<div class="loading-content" *ngIf="spinner">
    <mat-spinner></mat-spinner><br>
    <span>Eligiendo al ganador</span>
</div>
<div class="containner" *ngIf="!spinner">
    <div class="contenedor">
        <h2>Registro de participantes</h2>
        <form class="example-form" [formGroup]="formregistro" (submit)="add()">
            <mat-form-field class="example-full-width">
                <mat-label>Nombre Completo</mat-label>
                <input matInput placeholder="Nombre de participante" autocomplete="off" formControlName="nombre">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Carnet</mat-label>
                <input matInput placeholder="Numero de CI" formControlName="ci" autocomplete="off">
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary" class="btn"
                [disabled]="formregistro.invalid">Agregar</button>
        </form>
    </div>
    <div class="contenedor">
        <h3>Lista de participantes</h3>
        <h2 *ngIf="participantes.length==0">No hay participantes en lista</h2>
        <mat-list style="width: 100%;">
            <div *ngFor="let item of participantes">
                <mat-list-item>
                    <span></span>
                    <h3 matListItemTitle>{{item.nombre | uppercase}}</h3>
                    <p matListItemLine>{{item.ci}}</p>
                    <button mat-icon-button matListItemMeta color="accent" (click)="remove(item)">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </mat-list-item>
                <mat-divider></mat-divider>
            </div>
        </mat-list>
        <button *ngIf="participantes.length>1" mat-raised-button color="primary" (click)="sortear(participantes.length)"
            class="btn">Sortear</button><br>
            <button *ngIf="participantes.length>1" mat-raised-button color="accent" (click)="limpiarlista()"
                class="btn">Vaciar lista</button>
    </div>
</div>